*,
html {
    box-sizing: border-box;
    overflow: hidden;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
}

body {
    background-color: #F7F7FE;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0;
    position: relative;
}

body::before {
    position: absolute;
    content: "";
    background-image: url(./assets/dec.png);
    width: 472px;
    height: 760px;
    bottom: -30%;
    left: -5%;
    z-index: -1;
}

body::after {
    position: absolute;
    content: "";
    background-image: url(./assets/dec2.png);
    width: 472px;
    height: 760px;
    top: -30%;
    right: -5%;
    z-index: -1;
}

.main__title {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #6E728E;
    margin-bottom: 40px;
    margin-top: 0;
}

.main__toggler {
    display: flex;
    justify-content: center;
}

.main__span {
    font-size: 15px;
    line-height: 28px;
    text-align: right;
    color: #6E728E;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.main__toggle {
    margin: 0 25px;
    width: 56px;
    height: 32px;
    background: linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);
    border-radius: 16px;
    padding: 4px;
}

.main__spot {
    background: #FFFFFF;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-left: auto;
}

.tariff__list {
    display: flex;
    justify-content: center;
    margin-top: 65px;
    align-items: center;
}

.tariff__item {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(212, 210, 244, 0.5);
    border-radius: 10px 0px 0px 10px;
    height: 453px;
    color: #6E728E;
    text-align: center;
}

.tariff__item:nth-child(2) {
    background: linear-gradient(135.06deg, #A2A7F0 -0.05%, #696EDD 100.05%);
    box-shadow: 0px 20px 40px rgba(212, 210, 244, 0.5);
    border-radius: 10px;
    height: 501px;
    color: #FFFFFF;
    padding: 55px 30px;
}

.tariff__item:nth-child(3) {
    border-radius: 0px 10px 10px 0px;
}

.tariff__name {
    font-size: 18px;
    line-height: 28px;
}

.tariff__price {
    font-size: 72px;
    line-height: 71px;
    letter-spacing: -2.16px;
    margin: 24px 0 32px;
    position: relative;
    padding-left: 32px;
}

.tariff__price::before {
    position: absolute;
    content: "$";
    font-size: 40px;
    line-height: 49px;
    top: 10px;
    left: 32px;
    text-align: center;
    letter-spacing: -1.2px;
}

.tariff__pros {
    margin-bottom: 32px;
}

.tariff__pros-item {
    padding: 17px 0;
    position: relative;
}

.tariff__pros-item::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: #6E728E;
    mix-blend-mode: normal;
    opacity: 0.25;
    width: 100%;
    height: 1px;
}

.tariff__pros-item:last-child::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    background: #6E728E;
    mix-blend-mode: normal;
    opacity: 0.25;
    width: 100%;
    height: 1px;
}

.tariff__btn {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    padding: 14px 0;
    text-align: center;
    letter-spacing: 1.39286px;
    width: 288px;
    color: #FFFFFF;
    background: linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);
    border-radius: 6px;
}

.tariff__btn--white {
    background: #FFFFFF;
    color: #6D72DE;
}

.tariff__pros-item--white {
    position: relative;
}

.tariff__pros-item--white::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: #fff;
    mix-blend-mode: normal;
    opacity: 0.25;
    width: 100%;
    height: 1px;
}

.tariff__pros-item--white:last-child::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    background: #fff;
    mix-blend-mode: normal;
    opacity: 0.25;
    width: 100%;
    height: 1px;
}