@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'media';


.title {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 45px;
}

.timer {
    &__switchers {
        background: #161932;
        border-radius: 31.5px;
        padding: 8px;
        margin-bottom: 45px;

        & button {
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            color: #D7E0FF;
            mix-blend-mode: normal;
            opacity: 0.4;
            border-radius: 26.5px;
            padding: 15px 25px;
            transition: all 0.2s ease;

            &.active {
                color: #1E213F;
                background: #F87070;
                opacity: 1;
            }

            &:hover {
                mix-blend-mode: normal;
                //opacity: 0.8;
                color: #fff;
            }
        }
    }

    &__counter {
        width: 410px;
        height: 410px;
        background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
        box-shadow: -50px -50px 100px #272C5A, 50px 50px 100px #121530;
        border-radius: 50%;
        display: flex;
        margin-bottom: 50px;
    }

    &__inner {
        width: 366px;
        height: 366px;
        background-color: #161932;
        border-radius: 50%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__countdown {
        font-size: 100px;
        line-height: 132px;
        color: #D7E0FF;
        margin: 0 auto 20px;
        display: flex;
        position: relative;

        & .progress {
            width: 339px;
            height: 339px;
            position: absolute;
            top: 67%;
            left: 50%;
            transform: translate(-50%, -50%);

            &__circle {
                transition: 0.5s;
                transform: scale(-1, 1) rotate(270deg);
                transform-origin: 50% 50%;
                stroke: #F87070;
                stroke-dasharray: 50 10;
                //stroke-dashoffset: 100;

            }
        }
    }

    &__btn {
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 15px;
        color: #D7E0FF;
        text-transform: uppercase;
        position: relative;
        z-index: 10;
    }

    &__modal-btn {
        width: 27px;
        height: 28px;
        mix-blend-mode: normal;
        opacity: 0.5;
        margin: 0 auto;
        display: block;
        transition: all 0.3s ease;

        &:hover {
            opacity: 1;

            svg {
                path {
                    fill: #D7E0FF;
                }

                g {
                    opacity: 1;
                }
            }
        }
    }

    &__modal {
        display: none;
        position: fixed;
        z-index: 20;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    &__modal-content {
        background: #FFFFFF;
        border-radius: 25px;
        padding: 35px 40px 60px;
        margin: 15% auto;
        color: #161932;
        max-width: 540px;
    }

    &__modal-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
    }

    &__modal-close {
        mix-blend-mode: normal;
        opacity: 0.5;
    }

    &__modal-time {
        padding: 25px 0;
        border-bottom: 1px solid #E3E1E1;
    }

    &__modal-head {
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 5px;
    }

    &__modal-mb {
        margin-bottom: 20px;
    }

    &__modal-set {
        font-size: 12px;
        line-height: 15px;
        mix-blend-mode: normal;
        width: 100%;
    }

    &__modal-name {
        opacity: 0.4;
    }

    &__modal-count {
        margin-top: 10px;
        padding: 15px;
        background: #EFF1FA;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        max-width: 140px;
    }

    &__modal-value {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #1E213F;
        background: transparent;
        border: none;
    }

    &__modal-max {
        transform: rotate(180deg);
    }

    &__modal-buttons {
        display: flex;
        flex-direction: column;
    }

    &__modal-wrap {
        display: flex;
        justify-content: space-between;
    }

    &__modal-item {
        width: 40px;
        height: 40px;
        border: none;
        text-align: center;
        border-radius: 50%;
        background: #EFF1FA;
        align-items: center;
        justify-content: center;
        display: flex;

        &:not(:last-child) {
            margin-right: 15px;
        }
    }

    &__modal-fonts {
        padding: 25px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #E3E1E1;

        & .font {
            transition: all 0.3s ease;
            cursor: pointer;

            &:hover {
                background: #161932;
                color: #FFFFFF;
            }

            & .input-wrap {
                display: inline-block;
            }

            input[type="radio"] {
                display: none;

                +label {
                    color: #333;
                    font-family: Arial, sans-serif;
                    font-size: 14px;

                    span {
                        display: inline-block;
                        width: 40px;
                        height: 40px;

                        vertical-align: middle;
                        cursor: pointer;
                        border-radius: 50%;
                        border: none;
                        background-repeat: no-repeat;
                        background-position: center;
                        text-align: center;
                        line-height: 44px;

                    }
                }

                &:checked+label span {
                    background: #161932;
                    color: #FFFFFF;
                }
            }
        }
    }

    &__modal-colors {
        padding: 25px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .color {
            &:first-child {
                background-color: #F87070;
            }

            &:nth-child(2) {
                background-color: #70F3F8;
            }

            &:last-child {
                background-color: #D881F8;
            }

            & .input-wrap {
                display: inline-block;
            }

            input[type="radio"] {
                display: none;

                +label {
                    color: #333;
                    font-family: Arial, sans-serif;
                    font-size: 14px;

                    span {
                        display: inline-block;
                        width: 40px;
                        height: 40px;

                        vertical-align: middle;
                        cursor: pointer;
                        border-radius: 50%;
                        border: none;
                        background-repeat: no-repeat;
                        background-position: center;
                        text-align: center;
                        line-height: 44px;

                        svg {
                            display: none;
                        }

                    }
                }

                &:checked+label span svg {
                    display: inline;
                }
            }
        }
    }

    &__modal-apply {
        padding: 15px 45px;
        background: #F87070;
        border-radius: 26.5px;
        color: #ffff;
        display: block;
        margin: 0 auto -80px;
    }
}