@font-face {
    font-family: 'Lato';
    font-style: normal;
	font-weight: 700;
    src: local('Lato'),
        url('assets/fonts/Lato-Bold.woff2') format('woff2'),
        url('assets/fonts/Lato-Bold.woff') format('woff'),
        url('assets/fonts/Lato-Bold.ttf') format('ttf'),
        url('assets/fonts/Lato-Bold.eot') format('eot');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
	font-weight: 600;
    src: local('Lato'),
        url('assets/fonts/Lato-Semibold.woff2') format('woff2'),
        url('assets/fonts/Lato-Semibold.woff') format('woff'),
        url('assets/fonts/Lato-Semibold.ttf') format('ttf'),
        url('assets/fonts/Lato-Semibold.eot') format('eot');
}


@font-face {
    font-family: 'Lato';
    font-style: normal;
	font-weight: 400;
    src: local('Lato'),
        url('assets/fonts/Lato-Regular.woff2') format('woff2'),
        url('assets/fonts/Lato-Regular.woff') format('woff'),
        url('assets/fonts/Lato-Regular.ttf') format('ttf'),
        url('assets/fonts/Lato-Regular.eot') format('eot');
}